<article class="article">
    <ovHeader 
    :date="article.date"
    :banner="article.banner" 
    :title="article.title"
    :subTitle="article.subTitle"
    :description="article.description"
  />
  <div v-for="(item, index) in article.content" :key="'contentItem'+index"> 
    <p v-if="item.type==='text'" v-text="item.value" />  
    <div v-if="item.type==='detail'">
      <div v-for="(value, index) in item.value" :key="'detail'+index">
        <label v-text="value.value1"/>
        <a v-text="value.value2" />
    </div>
  </div>

      <ovSummary
      :type="item.type"
      :value="item.value"
      />
      <ovOrderList
      :type="item.type"
      :list="item.value"
      />
      <ovSubtitle
      :type="item.type"
      :value="item.value"
      />
      <ovList 
      :type="item.type"
      :list="item.value"
      />
      <ovTitle
      :type="item.type"
      :value="item.value"
      />
      <ovBold
      :type="item.type"
      :value="item.value"
      />
      <ovQuote
      :type="item.type"
      :value="item.value"
      />
      <ovText
      :type="item.type"
      :value="item.value"
      />
      <ovNote
      :type="item.type"
      :value="item.value"
      />
      <ovBlock
      :type="item.type"
      :value="item.value"
      />
      <ovFrame
      :type="item.type"
      :value="item.value"
      />
      <ovSeparator
      :type="item.type"
      />
      <ovPhoto
      :type="item.type"
      :value1="item.value1"
      :value2="item.value2"
      />
      <ovLink
      :type="item.type"
      :value1="item.value1"
      :value2="item.value2"
      />
      <ovQuoteFirm
      :type="item.type"
      :value1="item.value1"
      :value2="item.value2"
      />
      <ovImage
      :type="item.type"
      :value="item.value"
      />
      <ovButtonGosh
      :type="item.type"
      :value1="item.value1"
      :value2="item.value2"
      />
      <ovDetail
      :type="item.type"
      :values="item.value"
      />
    </div>
    
    <ovFooter
      :value="article.firm"
    />

 
  </article>
