//link sin visitar
.ov-link {
        color:#444;
        //font: bold 20px Georgia, “Times New Roman”, Times, serif;
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
        box-shadow: 0px 2px 10px grey;
        background: #EEE;
        text-align:center;
      }
//link visitado
.ov-link:visited{
    color: purple;
}
// link con mause
.ov-link:hover{
    color:  orangered;
}