* {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif; 
    -webkit-font-smoothing: antialiased;
    padding: 10px 10px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
    padding-bottom: 10px;
}

.home img {
    padding-bottom: 10px;
    background-position: center;
    background-size: cover;
  }

.home h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    padding-bottom: 10px;
}

.home h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
    padding-bottom: 10px;
}


h4 {
    line-height: 1.4;
    flex: 1;
    font-weight: 100;
    padding-bottom: 10px;
}

a {
    color: #D61F83;
    font-weight: bold;
    text-decoration: none;
    padding: 10px; 
    width: auto;
}

a {
    color: purple;
}

a:hover{
    color:  orangered;
}