.ov-detail  {
    color:black;
    background-color: #E4E5E7;
    padding: 10px;   
}

.ov-detail label {
    font-weight: bold;
    text-align: left;
    font-size:12px;
    padding: 10px;
}
.ov-detail a {
    border-bottom: 1px solid white;
    font-size: 15px;
    padding: 0px 10px 10px 10px;
}