.ov-header{
    //width: 200%;
    //margin: -10% -50% !important;
    border-bottom: 1px solid #ddd;
}

.ov-header hgroup{
    padding: 10px;
}

.ov-header h1 {
    padding: 10px;
    font-size: 25px;
    text-align: center !important;
}

.ov-header data {
    padding: 10px;
    font-size: 17px;
    text-align: center !important;
}

.ov-header h2 {
    padding: 10px;
    font-size: 20px;
    text-align: center !important;
}

.ov-header h3 {
    padding: 10px;
    font-size: 17px;
    //text-align: center !important;
}