.ov-header{
    margin:0 !important;
    padding: 0 !important;
}

.ov-header hgroup{
    padding: 10px;
}

.ov-header data {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center !important;
}

.ov-header h1 {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center !important;
}

.ov-header h2 {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center !important;
}

.ov-header h3 {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center !important;
}

.ov-header .articleSection{
    padding: 10px 10px 10px 100px;
    //width: auto;
    float: left; 
    border-bottom: 1px solid #eee;
    //background: #eee;
}

.ov-header .author{
    padding: 10px 100px 10px 10px;
    width: auto;
    float: right;
    width: auto;
    border-bottom: 1px dashed #aaa;
}