.ov-header{
    background: rgb(240,240,240);
    box-shadow: 0px 0px 5px black;
}

.ov-header data {
    font-size: 17px;
    color: black !important;
    padding: 10px;
}

img {
    padding: 10px;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}

h3 {
    padding: 10px;
}


