.ov-title {
    width:100%;
    height: auto;
    font-size:26px;
    display: block;
    font-family: Helvetica;
    text-align: center;
    float: left;
    color:#343232;
    padding-top: 10px;
    //text-shadow: 0,9px 0,9px #000000;
    letter-spacing: 0,5px;
}
