.ov-frame {
    padding: 10px;
    background:white;
    color:black;
    line-height: 1.6;
    border-style: solid;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;  
    line-height: 1.2em;
}