.ov-list {
    list-style-type: square;
    font: normal 16px Georgia, “Times New Roman”, Times, serif;
    padding: 10px 10px 10px 25px;
};

.ov-list li {
    display: list-item !important;
    padding: 3px;
}