.ov-photo{
   border:3px solid black;
   background: black;
}
.ov-photo img {
    display: block;   
}
.ov-photo figcaption { 
    font-size: 14px;
    color:white;
    background:black;
    padding: 5px 10px;
}
